/*General rules applied to whole page*/


* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 15vh;
  min-height: 100vh;
}

/*Font rules as stated by odin project assignment*/

h1 {
  font-size: 24px;
  color: #F9FAF8;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

h3 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-style: light-italic;
  color: #1F2937;
}
/*header and footer styling*/

header, footer {
  position: absolute;
  width: 100%;
  
}

header {
  background-color: #1F2937;
  height: 10vh;
  top: 0;
}

footer {
  text-align: center;
  height: 15vh;
  padding-top: 50px;
  bottom: 0;
  color: #FFF;
  background-color:#1F2937;
}

/*css for the main page contents*/

main {
  display: flex;
  flex-direction: column;
  height: 2000px;
  padding-top: 10vh;
  bottom: 15vh;  
}

.item {
  flex: 1;
}

button {
  background-color: #3882F6;
}



.hero {
  background-color: #1F2937;
}

.info {

}

.quote-box {
  background-color: #E5E7EB;
}

.sign-up-box {
  margin-bottom: 0px;
}